In [2]:
import requests
import json

headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0', 'SUUR0000SA0'], "startyear": "2011", "endyear": "2014"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)

for series in json_data['Results']['series']:
    seriesId = series['seriesID']

    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes = ""

        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','

        if 'M01' <= period <= 'M12':
            # Do whatever you want with the data here, without using prettytable
            print(f"Series ID: {seriesId}, Year: {year}, Period: {period}, Value: {value}, Footnotes: {footnotes[0:-1]}")

Series ID: CUUR0000SA0, Year: 2014, Period: M12, Value: 234.812, Footnotes:
Series ID: CUUR0000SA0, Year: 2014, Period: M11, Value: 236.151, Footnotes:
Series ID: CUUR0000SA0, Year: 2014, Period: M10, Value: 237.433, Footnotes:
Series ID: CUUR0000SA0, Year: 2014, Period: M09, Value: 238.031, Footnotes:
Series ID: CUUR0000SA0, Year: 2014, Period: M08, Value: 237.852, Footnotes:
Series ID: CUUR0000SA0, Year: 2014, Period: M07, Value: 238.250, Footnotes:
Series ID: CUUR0000SA0, Year: 2014, Period: M06, Value: 238.343, Footnotes:
Series ID: CUUR0000SA0, Year: 2014, Period: M05, Value: 237.900, Footnotes:
Series ID: CUUR0000SA0, Year: 2014, Period: M04, Value: 237.072, Footnotes:
Series ID: CUUR0000SA0, Year: 2014, Period: M03, Value: 236.293, Footnotes:
Series ID: CUUR0000SA0, Year: 2014, Period: M02, Value: 234.781, Footnotes:
Series ID: CUUR0000SA0, Year: 2014, Period: M01, Value: 233.916, Footnotes:
Series ID: CUUR0000SA0, Year: 2013, Period: M12, Value: 233.049, Footnotes:
Series ID: CUUR0000SA0, Year: 2013, Period: M11, Value: 233.069, Footnotes:
Series ID: CUUR0000SA0, Year: 2013, Period: M10, Value: 233.546, Footnotes:
Series ID: CUUR0000SA0, Year: 2013, Period: M09, Value: 234.149, Footnotes:
Series ID: CUUR0000SA0, Year: 2013, Period: M08, Value: 233.877, Footnotes:
Series ID: CUUR0000SA0, Year: 2013, Period: M07, Value: 233.596, Footnotes:
Series ID: CUUR0000SA0, Year: 2013, Period: M06, Value: 233.504, Footnotes:
Series ID: CUUR0000SA0, Year: 2013, Period: M05, Value: 232.945, Footnotes:
Series ID: CUUR0000SA0, Year: 2013, Period: M04, Value: 232.531, Footnotes:
Series ID: CUUR0000SA0, Year: 2013, Period: M03, Value: 232.773, Footnotes:
Series ID: CUUR0000SA0, Year: 2013, Period: M02, Value: 232.166, Footnotes:
Series ID: CUUR0000SA0, Year: 2013, Period: M01, Value: 230.280, Footnotes:
Series ID: CUUR0000SA0, Year: 2012, Period: M12, Value: 229.601, Footnotes:
Series ID: CUUR0000SA0, Year: 2012, Period: M11, Value: 230.221, Footnotes:
Series ID: CUUR0000SA0, Year: 2012, Period: M10, Value: 231.317, Footnotes:
Series ID: CUUR0000SA0, Year: 2012, Period: M09, Value: 231.407, Footnotes:
Series ID: CUUR0000SA0, Year: 2012, Period: M08, Value: 230.379, Footnotes:
Series ID: CUUR0000SA0, Year: 2012, Period: M07, Value: 229.104, Footnotes:
Series ID: CUUR0000SA0, Year: 2012, Period: M06, Value: 229.478, Footnotes:
Series ID: CUUR0000SA0, Year: 2012, Period: M05, Value: 229.815, Footnotes:
Series ID: CUUR0000SA0, Year: 2012, Period: M04, Value: 230.085, Footnotes:
Series ID: CUUR0000SA0, Year: 2012, Period: M03, Value: 229.392, Footnotes:
Series ID: CUUR0000SA0, Year: 2012, Period: M02, Value: 227.663, Footnotes:
Series ID: CUUR0000SA0, Year: 2012, Period: M01, Value: 226.665, Footnotes:
Series ID: CUUR0000SA0, Year: 2011, Period: M12, Value: 225.672, Footnotes:
Series ID: CUUR0000SA0, Year: 2011, Period: M11, Value: 226.230, Footnotes:
Series ID: CUUR0000SA0, Year: 2011, Period: M10, Value: 226.421, Footnotes:
Series ID: CUUR0000SA0, Year: 2011, Period: M09, Value: 226.889, Footnotes:
Series ID: CUUR0000SA0, Year: 2011, Period: M08, Value: 226.545, Footnotes:
Series ID: CUUR0000SA0, Year: 2011, Period: M07, Value: 225.922, Footnotes:
Series ID: CUUR0000SA0, Year: 2011, Period: M06, Value: 225.722, Footnotes:
Series ID: CUUR0000SA0, Year: 2011, Period: M05, Value: 225.964, Footnotes:
Series ID: CUUR0000SA0, Year: 2011, Period: M04, Value: 224.906, Footnotes:
Series ID: CUUR0000SA0, Year: 2011, Period: M03, Value: 223.467, Footnotes:
Series ID: CUUR0000SA0, Year: 2011, Period: M02, Value: 221.309, Footnotes:
Series ID: CUUR0000SA0, Year: 2011, Period: M01, Value: 220.223, Footnotes:
Series ID: SUUR0000SA0, Year: 2014, Period: M12, Value: 134.207, Footnotes:
Series ID: SUUR0000SA0, Year: 2014, Period: M11, Value: 135.107, Footnotes:
Series ID: SUUR0000SA0, Year: 2014, Period: M10, Value: 135.891, Footnotes:
Series ID: SUUR0000SA0, Year: 2014, Period: M09, Value: 136.211, Footnotes:
Series ID: SUUR0000SA0, Year: 2014, Period: M08, Value: 136.127, Footnotes:
Series ID: SUUR0000SA0, Year: 2014, Period: M07, Value: 136.392, Footnotes:
Series ID: SUUR0000SA0, Year: 2014, Period: M06, Value: 136.433, Footnotes:
Series ID: SUUR0000SA0, Year: 2014, Period: M05, Value: 136.216, Footnotes:
Series ID: SUUR0000SA0, Year: 2014, Period: M04, Value: 135.771, Footnotes:
Series ID: SUUR0000SA0, Year: 2014, Period: M03, Value: 135.375, Footnotes:
Series ID: SUUR0000SA0, Year: 2014, Period: M02, Value: 134.542, Footnotes:
Series ID: SUUR0000SA0, Year: 2014, Period: M01, Value: 134.017, Footnotes:
Series ID: SUUR0000SA0, Year: 2013, Period: M12, Value: 133.509, Footnotes:
Series ID: SUUR0000SA0, Year: 2013, Period: M11, Value: 133.596, Footnotes:
Series ID: SUUR0000SA0, Year: 2013, Period: M10, Value: 133.876, Footnotes:
Series ID: SUUR0000SA0, Year: 2013, Period: M09, Value: 134.255, Footnotes:
Series ID: SUUR0000SA0, Year: 2013, Period: M08, Value: 134.098, Footnotes:
Series ID: SUUR0000SA0, Year: 2013, Period: M07, Value: 133.919, Footnotes:
Series ID: SUUR0000SA0, Year: 2013, Period: M06, Value: 133.900, Footnotes:
Series ID: SUUR0000SA0, Year: 2013, Period: M05, Value: 133.626, Footnotes:
Series ID: SUUR0000SA0, Year: 2013, Period: M04, Value: 133.421, Footnotes:
Series ID: SUUR0000SA0, Year: 2013, Period: M03, Value: 133.558, Footnotes:
Series ID: SUUR0000SA0, Year: 2013, Period: M02, Value: 133.204, Footnotes:
Series ID: SUUR0000SA0, Year: 2013, Period: M01, Value: 132.137, Footnotes:
Series ID: SUUR0000SA0, Year: 2012, Period: M12, Value: 131.770, Footnotes:
Series ID: SUUR0000SA0, Year: 2012, Period: M11, Value: 132.208, Footnotes:
Series ID: SUUR0000SA0, Year: 2012, Period: M10, Value: 132.892, Footnotes:
Series ID: SUUR0000SA0, Year: 2012, Period: M09, Value: 132.988, Footnotes:
Series ID: SUUR0000SA0, Year: 2012, Period: M08, Value: 132.430, Footnotes:
Series ID: SUUR0000SA0, Year: 2012, Period: M07, Value: 131.731, Footnotes:
Series ID: SUUR0000SA0, Year: 2012, Period: M06, Value: 131.956, Footnotes:
Series ID: SUUR0000SA0, Year: 2012, Period: M05, Value: 132.154, Footnotes:
Series ID: SUUR0000SA0, Year: 2012, Period: M04, Value: 132.284, Footnotes:
Series ID: SUUR0000SA0, Year: 2012, Period: M03, Value: 131.905, Footnotes:
Series ID: SUUR0000SA0, Year: 2012, Period: M02, Value: 130.953, Footnotes:
Series ID: SUUR0000SA0, Year: 2012, Period: M01, Value: 130.438, Footnotes:
Series ID: SUUR0000SA0, Year: 2011, Period: M12, Value: 129.844, Footnotes:
Series ID: SUUR0000SA0, Year: 2011, Period: M11, Value: 130.196, Footnotes:
Series ID: SUUR0000SA0, Year: 2011, Period: M10, Value: 130.373, Footnotes:
Series ID: SUUR0000SA0, Year: 2011, Period: M09, Value: 130.635, Footnotes:
Series ID: SUUR0000SA0, Year: 2011, Period: M08, Value: 130.351, Footnotes:
Series ID: SUUR0000SA0, Year: 2011, Period: M07, Value: 129.983, Footnotes:
Series ID: SUUR0000SA0, Year: 2011, Period: M06, Value: 129.846, Footnotes:
Series ID: SUUR0000SA0, Year: 2011, Period: M05, Value: 129.999, Footnotes:
Series ID: SUUR0000SA0, Year: 2011, Period: M04, Value: 129.483, Footnotes:
Series ID: SUUR0000SA0, Year: 2011, Period: M03, Value: 128.585, Footnotes:
Series ID: SUUR0000SA0, Year: 2011, Period: M02, Value: 127.363, Footnotes:
Series ID: SUUR0000SA0, Year: 2011, Period: M01, Value: 126.778, Footnotes:

In [1]:
import requests
import json
from prettytable import PrettyTable
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0','SUUR0000SA0'],"startyear":"2011", "endyear":"2014"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x=PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
        if 'M01' <= period <= 'M12':
            x.add_row([seriesId,year,period,value,footnotes[0:-1]])
    output = open(seriesId + '.txt','w')
    output.write (x.get_string())
    output.close()